```java
class swap
{
    public static void main()
    {
        int x=5,y=10,temp;
        temp=x;
        x=y;
        y=temp;
    }
}
```

In [1]:
x,y = 10,20
x,y = y,x
print(x," ", y)

20   10

### Variables and Data types

In [2]:
x=8

In [3]:
print(x)
print(type(x))

8
<class 'int'>

In [4]:
x = 7.5
print(type(x))

<class 'float'>

In [5]:
a="abc"
b='abc'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [12]:
x='''
abc
asd
'''
print(x)

abc
asd

In [7]:
type(True)

bool

In [10]:
#single line comment
'''
multi line
comment
'''
#no

'\nmulti line\ncomment\n'

In [13]:
for i in range(0,5):
	print(i)

0
1
2
3
4

### Functions

In [19]:
def main():
	print("Hi")

if __name__ == '__main__':
	main()

Hi

### Inbuilt Data Structures

In [31]:
# List
list1 = [1,2,3,"abc",3.5]
type(list1)

list

In [22]:
len(list1)

5

In [32]:
# For loop for list
for e,i in enumerate(list1,10):
	print(e," : ",i)

10  :  1
11  :  2
12  :  3
13  :  abc
14  :  3.5

In [44]:
# Set
a = [1,2,2,2,3,1,2,3,5,4,4,5,5,4,1]
print(min(a))
print(max(a))
set(a)

1
5

{1, 2, 3, 4, 5}

In [30]:
{1,2,2,2,3,4}

{1, 2, 3, 4}

In [39]:
# Dictionaries
d = {
    "name":"John",
    "age":20,
    "Country":"India"
}
type(d)

dict

In [37]:
d.keys()

dict_keys(['name', 'age', 'Country'])

In [38]:
d.values()

dict_values(['John', 20, 'India'])

In [42]:
# for loop for dictionaries
for key,value in d.items():
	print("{} is equal to {}".format(key,value))

name is equal to John
age is equal to 20
Country is equal to India